
body,
html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
}
.Title{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary);
    font-size: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-bottom: 20px;
    justify-content: space-around;
    font-family: 'Bad Script', cursive;
    border: 10px solid var(--secondary);
    box-shadow: 10px 7px 10px var(--quaternary);
    
}
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gall {
    width: 23%;
    height: 31vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 10px solid var(--secondary);
    margin-bottom: 1.5rem;
    padding: 3px;
    background-color: var(--tertiary);
    box-shadow: 10px 7px 10px var(--quaternary);
}

.img {
    width: 70%;
    height: 70%;
    border: 10px solid var(--secondary);
    background-color: var(--primary);
}

.SkinName {
    font-size: 1.3rem;
    font-family: 'Bad Script', cursive;
    background-color: var(--primary);
}

.Price {
    font-size: 1.1rem;
    font-family: 'Bad Script', cursive;
    background-color: var(--primary);
}
.MyOpinion {
  font-size: 1.1rem;
  font-family: 'Bad Script', cursive;
  background-color: var(--primary);
}


.root {
    
    --WestCoast: var(#785A28); 
    --Marigold: var(#C89B3C); 
    --HarvestGold: var(#C8AA6E); 
    --AlbescentWhite: var(#F0E6D2); 

    --CloudBurst: var(#283151); /* shadow */
    --WaikawaGray: var(#607aa6); /*box bgc */
    --PoloBlue: var(#94a7ce); /*border */
    --Snuff: var(#d2d0e7); /* bgc */
    --BlueChalk: var(#E4E0ff);
    --WildWatermelon: var(#fb6f92); /* shadow */
    --TickleMePink: var(#ff8fab); /*box bgc */
    --Lightpink: var(#ffb3c6); /*border */
    --Pink: var(#ffc2d1); /* bgc */
    --Remy: var(#ffe5ec);

    --primary: var(--Marigold);
    --secondary: var(--HarvestGold);
    --tertiary: var(--AlbescentWhite);
    --quaternary: var(--WestCoast);
}

.Pink{
    --primary: var(--TickleMePink);
    --secondary: var(--Lightpink);
    --tertiary: var(--Pink);
    --quaternary: var(--WildWatermelon);
}
.Blue{
    --primary: var(--WaikawaGray);
    --secondary: var(--PoloBlue);
    --tertiary: var(--Snuff);
    --quaternary: var(--CloudBurst);
}
.Original{
    --primary: var(--Marigold);
    --secondary: var(--HarvestGold);
    --tertiary: var(--AlbescentWhite);
    --quaternary: var(--WestCoast);
}